#container-result1, #container-result2, #container-result3, #container-result4{
  display: none;
}
.container-jumbotron {
  margin-top: 28px;
}


body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/76/Coast_Garter_Snake.jpg");
  background-size: cover;

}
